<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Local configuration -->
    <add key="Common.Environment" value="Local" />
    <add key="Common.Api.BasePath" value="http://localhost:1337/" />
    
    <!-- Dev configuration -->
    <!-- Comment when you want to run this locally-->
    <add key="Common.Environment" value="#{Common.Environment}#" />
    <add key="Common.Api.BasePath" value="#{Common.Api.BasePath}#" />
    <add key="Common.Api.Authenticationheader" value="#{Common.Api.Authenticationheader}#" />
  </appSettings>
</configuration>